---
import Layout from "@layouts/Layout.astro"
---
<Layout title="404 Error">
    <!-- Error Section -->
    <body class="bg-gray-100 flex items-center justify-center h-screen">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-black font-coming-soon-regular">404</h1>
            <img src="/imagenes/404-robot.png" alt="404 Image" class="mx-auto mb-6 w-2/2 max-w-xs"/>
            
            <h2 class="text-3xl font-semibold text-black mt-4 font-coming-soon-regular">Page Not Found</h2>
            <p class="text-lg text-black font-semibold mt-2 font-coming-soon-regular">Sorry, The page you are looking for does not exist.</p>
            <!-- <div class="mt-6">
                <a href="/" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">Go to Home Page</a>
                <a href="/ContactPage" class="bg-gray-500 text-white px-4 py-2 rounded-md ml-2 hover:bg-gray-600 transition duration-300">Contact Support</a>
            </div>-->
        </div>
    </body>
</Layout>