<footer class="bg-white py-4 mt-8 w-full bottom-0 ">
    <div class="container mx-auto text-center">
        <p class=" text-green-600 font-coming-soon-regular">&copy; 2024 TINTATECA. All rights reserved.</p>
        <div class="mt-2">
            <a href="/PrivacyPolicyPage" class="text-black hover:text-green-600 mx-2 font-coming-soon-regular">Privacy Policy</a>
            <a href="/TermsOfServicePage" class="text-black hover:text-green-600 mx-2 font-coming-soon-regular">Terms of Service</a>
            <a href="/ContactPage" class="text-black hover:text-green-600 mx-2 font-coming-soon-regular">Contact Us</a>
        </div>
    </div>
</footer>