---
import '../styles/style.css';
---

<header class="py8 px4 mt-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center">
        <a href="/" class="mb-2 text-5xl tracking-tight font-extrabold text-white font-coming-soon-regular">TINTATECA</a>
        <p class="sloganTitle">
            Designs like in your dreams
        </p>
        
    </div>
   
</header>
<!-- <div class="">
    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row mx-auto">
        <button class="buttonHeader" data-href="/">Home</button>
        <button class="buttonHeader" data-href="/MoviePage">Designs</button>
        <button class="buttonHeader" data-href="/WeatherDetailsPage">Contact</button>
        
    </nav>
</div>-->